.navbar-links {
    list-style: none;
    display: flex;
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;

}

.navbar-top {
    background-color: #05242a;
    width: 95%;
    height: 120%;
    border-radius: 40px 40px 40px 40px;
    margin-left: 3%;
    margin-right: 3%;
}


.container-about {
    position: relative;
    margin-left: 320px;
}

#greenimg {
    width: 160px;
    height: 40px;
}

.text-overlay-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.text-overlay-about p {
    margin: 0;
}

#link {

    color: white;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 20px;


}

#kabadilogo {

    width: 180px;
    height: 54px;

}

.logo-element {

    margin-left: 20px;
}


.heading-line {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    color: white;
    text-align: left;

}

.about-section {

    width: 1068px;
    height: 500 px;
    background-image: url('images/aboutus_backgroundimg.svg');
    background-size: cover;
    /* Adjust the size as needed */
    background-repeat: no-repeat;
    padding: 20px;
    /* Add padding as needed */
    text-align: left;
    /* Center the content within the div */
    color: #fff;
    /* Set text color to white or a suitable color for contrast */
    padding-left: 150px;
    padding-right: 150px;
}

.about-text {

    font-size: 20px;
    font-family: Roboto, sans-serif;
    color: white;
    line-height: 1.1;

}

.goal-section {

    display: flex;
    flex-direction: column;
    width: 1069px;
    height: 580px;
    margin-top: 70px;


}

.goal {

    display: flex;
    width: 1350px;
    height : 255px;
    margin-bottom: 40px;
    align-items: center;
    justify-self: center;


}

.heading-vision {


    height : 258px;
    flex: 1.2;
    background-image: url('images/visionimg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    text-align: justify;
    color: white;
    line-height: 1.1;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;


}

.text-goal {

    height : 255px;
    flex: 2.8;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    color: white;
    line-height: 1.1;
    background-image: url('images/greenbackground.svg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    

}

.text-mission {

    height : 255px;
    flex: 2.8;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    color: white;
    line-height: 1.1;
    background-image: url('images/greenbackground.svg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;

}

.heading-mission {

    height : 258px;
    flex: 1.2;
    background-image: url('images/visionimg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    color: white;
    line-height: 1.1;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;

}

.certificate-section {

    width: 1350px;
    height: 833px;
}

.certificate {
    width: 100%; /* Set the width to 100% to make it fill the container */
    max-width: 1340px; /* Optionally, set a maximum width to prevent it from becoming too wide */
}

.certificate-heading {

    color: #595959;
    font-size: 48px;
    text-align: center;
}

.work-section {

    background-image: url("/images/whatwedo.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 50px;
    margin: 50px;
}

.work-section h1 {

    color: white;
    font-size: 48px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.work-row {

    display: flex;
    justify-content: center;
    /* Center contents horizontally */
    align-items: center;
    /* Center contents vertically */
}

.about-work-card {

    align-items: center;
    background: linear-gradient(180deg, #78d347, #215206);
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 312px;
    height: 400PX;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}

.about-work-card h1 {

    font-size: 28px;
    font-family: Roboto, sans-serif;
    color: white;
    text-align: center;
}


.about-work-card p {

    font-size: 19px;
    font-family: Roboto, sans-serif;
    color: white;
    text-align: center;

}


.voting-section {

    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.voting-section h1 {

    color: #595959;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.voting {

    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(17, 55, 70, .8), #113746), url("/images/backgroundvoting.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-right: 30px;
}

.voting h1 {

    flex: 1;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
    font-family: Roboto, sans-serif;
    text-align: center;
    justify-self: center;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    line-height: 1.5;


}

.vote-section {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;


}

.vote-section button {


    background-color: #56b124;
    border: 3px solid #fff;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    height: 250px;
    outline: none !important;
    text-decoration: none;
    width: 250px;

}

.vote-section p {

    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.vote-section h1 {

    font-size: 36px;
    font-weight: 700;
}

.vote-section span {

    color: #56b124;
}


.jointeam-section {

    display: flex;


}

.left-side {

    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url("/images/joinourteambackground.svg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

}

.left-side h1 {

    font-size: 48px;
    color: white;

}

.right-side {

    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #56b124;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
}

.right-side h1 {

    font-size: 24px;
    color: white;
    flex: 1;
    text-align: center;

}

.right-side a {

    flex: 1;
    background-color: #56b124;
    border: 3px solid #fff;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 13px 50px;
    text-decoration: none;
    transition: .3s;
    margin-top: 30px;

}


.teammember-section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.teammember-section h1 {

    color: #595959;
    font-size: 40px;
    text-align: center;
}

.team-card {

    display: flex;
    flex-direction: column;
    text-decoration: none !important;

}


.team-card:first-child {
    display: block;
}

.team-description {

    flex: 1;
    background-color: #56b124;
    text-align: center;
    justify-self: center;

}

.team-description h1 {

    font-size: 24px;
    color: white;
}

.team-description p {

    font-size: 17px;
    color: white;
    font-family: Roboto, sans-serif;
}

.main-footer {

    display: flex;
    flex-direction: column;
    background-image: url("/images/footerbackground.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;
}

.link-section {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 823px;
    height: 250px;

}

.link-section h1 {

    color: #56b124;
    font-size: 24px;
    font-family: Roboto, sans-serif;
}

.link-box-about li {

    list-style: none;
    padding : 6px;
}

.link-box-about a {

    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 21px;
    font-family: Roboto, sans-serif;
}

.link-box-links li {

    list-style: none;
    padding : 6px;
}


.link-box-links a {

    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 21px;
    font-family: Roboto, sans-serif;
}

.link-box-contact a {

    color : white;
    text-decoration: none;
    list-style: none;
    font-size: 21px;
    font-family: Roboto, sans-serif;
}

.link-box-contact h1 {

   color : #56b124;
}


.link-box-contact li {

    list-style: none;

}

.MuiSvgIcon-root {

    width: 35px;
    height: 35px;

}

.social-section{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-section h1 {

    color: #56b124;
    font-size: 24px;
    text-align: center;
    font-family: Roboto, sans-serif;
    
}

.social-link {

    display: flex;
    align-items: center;
    justify-content: center;
}


.social-link a{

    padding : 15px;
}

.term-footer{

    height : 30px;
    background-color: #56b124;
    margin-top: 0px;
    padding: 10px;
}

.term-footer p{

    color : white;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    text-align: center;
}